  #gallery1
  {
    border: 1px solid black;
    outline-style: solid;
    outline-color: rgb(0, 204, 255);
    text-decoration: none;
  }
  #myCanvas
  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
  @font-face 
  {
    font-family: myFirstFont;
    src: url(Lobster_1.3.otf)
  } 
  p
  {
    font-family: myFirstFont;
  }
